*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

body{
      min-width: 100vw;
      min-height: 100vh;
    /* overflow-x: hidden; */
}

header{
    min-width: 100vw;
    min-height: 70px;
    
    

}

.heading{
    position: fixed;
    top: 0;
    min-height: 70px;
    min-width: 100%;
    background: rgb(246,148,0);
    background: linear-gradient(81deg, rgba(246,148,0,1) 0%, rgba(250,253,249,1) 39%, rgba(235,246,238,1) 63%, rgba(0,134,62,1) 100%);
    text-align: center;
    padding: 1.5rem;
}


.places{
    width: 100vw;
    min-height: 100vh;
    margin-top: 2rem;
    margin-bottom: 70px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));
    grid-template-rows: repeat(4,400px);
    gap: 10px;
}

 .place{
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    background: rgb(255,170,41);
    background: linear-gradient(120deg, rgba(255,170,41,1) 0%, rgba(255,242,224,1) 20%, rgba(255,253,252,1) 56%, rgba(250,253,249,1) 72%, rgba(246,253,247,1) 77%, rgba(0,255,119,1) 100%);
    background-color: #fff;
    color: black;



 }
.place{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
    place-items: center;
    

}
.div>a>img{
    padding: 1rem 2rem;
    height: 350px;
    width: 410px;
    object-fit: fill;
    border-radius: 12%;
}
.description{
  height: 350px;
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 2.5rem 1.5rem

}
.description>p{
    font-size: 17px;
    font-weight: 500;
}

.btn {
   all: unset;
   height: 30px;
   width: 100px; 
   text-align: center;
   border-radius: 5px;
   font-weight: bolder;
   cursor: pointer;
   transition: .8s;
   text-decoration: none;
   
}
a{
    text-decoration: none;
    font-size: 1.1rem;
    color: black;
}
#last-para,#developer{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;

}

span{
    color: red;
}

.btn:hover{
    background-color: orange;
    transition: 0.6s;
    
}





.foot{
    
    position: fixed;
    bottom: 0;
    min-height: 70px;
    min-width: 100%;
    background: rgb(246,148,0);
    background: linear-gradient(81deg, rgba(246,148,0,1) 0%, rgba(250,253,249,1) 39%, rgba(235,246,238,1) 63%, rgba(0,134,62,1) 100%);
    text-align: center;
    padding: 1.5rem;

}